<!doctype html>
   <head>
   <title>IMGUR to Reddit App</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
   <div class="cornice">
      <h1>Errore!</h1>
      <img src="/static/error.png" width=5% height=5% align=left>
      <img src="/static/error.png" width=5% height=5% align=right>
      <p>Il file selezionato non è ammesso.<br>File ammessi: .png - .jpg - .jpeg - .gif<br>
      <a onclick="window.location='IMGURtoRedditApp'+window.location.search;" style="color:blue; cursor:pointer;">Ritorna alla pagina di upload</a>    
   </p>    
   </div>
   </body>