<!doctype html>
   <head>
   <title>IMGUR to Reddit App</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
   <div class="corniceVerde">
        <h1>File correttamente inviato</h1>
        <img src="/static/success.png" width=5% height=5% align=left>
        <img src="/static/success.png" width=5% height=5% align=right>
        <a onclick="window.location='IMGURtoRedditApp'+window.location.search;" style="color:blue; cursor:pointer;"> Invia un altro file!</a>
         <h3>Ricorda: non è possibile inviare su reddit due post nell'arco di 10 minuti</h3>
   </div>
   </body>